[submodule "deps/metajap"]
	path = deps/metajap
	url = git@git.cs.lth.se:al7330du/metajap.git
[submodule "deps/metajastadd2"]
	path = deps/metajastadd2
	url = git@git.cs.lth.se:al7330du/metajastadd2.git
[submodule "deps/pep"]
	path = deps/pep
	url = git@github.com:coffeeblack/pep.git
[submodule "deps/sppf-earley-parser"]
	path = deps/sppf-earley-parser
	url = git@git.cs.lth.se:al7330du/sppf-earley-parser.git
