[submodule "deps/metajap"]
	path = deps/metajap
	url = git@github.com:lu-cs-sde/metadl-jastaddparser.git
[submodule "deps/metajastadd2"]
	path = deps/metajastadd2
	url = git@github.com:lu-cs-sde/metadl-jastadd.git
[submodule "deps/sppf-earley-parser"]
	path = deps/sppf-earley-parser
	url = git@github.com:lu-cs-sde/sppf-earley-parser.git
