/.gradle/
/.settings/
.project
.classpath
/resources/
/build/
/bin/
compiler.jar
DrAST-1.2.2.jar
DrAST.cfg
tests/**/*.out
/tests/output/
tests/evaluation/bottomupout/*
/out/
/tmp/
/facts/*.csv
.idea
*.dot
*.*~
